CREATE TABLE Match_level(
	HomeScore float NULL,
	AwayScore float NULL,
	HomeTeamID nvarchar(255) NULL,
	AwayTeamID nvarchar(255) NULL,
	Date datetime NULL,
	HomeFoulCommited float NULL,
	AwayFoulCommited float NULL,
	HomeYellowCard float NULL,
	AwayYellowCard float NULL,
	HomeRedCard float NULL,
	AwayRedCard float NULL,
	HomeSave float NULL,
	AwaySaves float NULL,
	StadiumID float NULL,
	Attendance float NULL,
	Match_ID nvarchar(255) NULL,
	leagueid nvarchar(255) NULL,
	F18 datetime NULL
); 


INSERT Match_level (HomeScore, AwayScore, HomeTeamID, AwayTeamID, Date, HomeFoulCommited, AwayFoulCommited, HomeYellowCard, AwayYellowCard, HomeRedCard, AwayRedCard, HomeSave, AwaySaves, StadiumID, Attendance, Match_ID, leagueid, F18) VALUES (4, 0, 'AR', 'AV', CAST('2016-05-15 00:00:00.000' AS DateTime), 12, 6, 0, 1, 0, 0, 4, 2, 190, 60007, '422285', 'EPL', NULL)
INSERT Match_level (HomeScore, AwayScore, HomeTeamID, AwayTeamID, Date, HomeFoulCommited, AwayFoulCommited, HomeYellowCard, AwayYellowCard, HomeRedCard, AwayRedCard, HomeSave, AwaySaves, StadiumID, Attendance, Match_ID, leagueid, F18) VALUES (3, 1, 'MU', 'BM', CAST('2016-05-17 00:00:00.000' AS DateTime), 9, 8, 1, 0, 0, 0, 2, 0, 188, 74363, '422286', 'EPL', NULL)
INSERT Match_level (HomeScore, AwayScore, HomeTeamID, AwayTeamID, Date, HomeFoulCommited, AwayFoulCommited, HomeYellowCard, AwayYellowCard, HomeRedCard, AwayRedCard, HomeSave, AwaySaves, StadiumID, Attendance, Match_ID, leagueid, F18) VALUES (4, 1, 'SH', 'CP', CAST('2016-05-15 00:00:00.000' AS DateTime), 7, 14, 1, 2, 0, 0, 1, 3, 196, 31313, '422287', 'EPL', NULL)















