


CREATE TABLE Player(
	Player_ID float NULL,
	PlayerName nvarchar(255) NULL,
	PlayerDob datetime NULL,
	PlayerHeight nvarchar(255) NULL,
	PlayerPosition nvarchar(255) NULL,
	Player_Nationality nvarchar(255) NULL,
	Player_Weight nvarchar(255) NULL
);


INSERT Player (Player_ID, PlayerName, PlayerDob, PlayerHeight, PlayerPosition, Player_Nationality, Player_Weight) VALUES (1001, 'AarA', CAST('1997-04-22 00:00:00.000' AS DateTime), '180 cm', 'DF', 'Spai', '72 kg');
INSERT Player (Player_ID, PlayerName, PlayerDob, PlayerHeight, PlayerPosition, Player_Nationality, Player_Weight) VALUES (1002, 'AdA¡', CAST('1987-05-13 00:00:00.000' AS DateTime), '190 cm', 'GK', 'Spai', '88 kg');
INSERT Player (Player_ID, PlayerName, PlayerDob, PlayerHeight, PlayerPosition, Player_Nationality, Player_Weight) VALUES (1003, 'Aday', CAST('1987-12-16 00:00:00.000' AS DateTime), '179 cm', 'MF', 'Spai', '71 kg');





















