
CREATE TABLE Stadium(
	StadiumID float NULL,
	Capacity float NULL,
	City nvarchar(255) NULL,
	Clubs nvarchar(255) NULL,
	Country nvarchar(255) NULL,
	Name nvarchar(255) NULL
) ;


INSERT Stadium (StadiumID, Capacity, City, Clubs, Country, Name) VALUES (0, 16230, 'Tirana', 'KF Tirana, Dinamo, Partizani', 'Albania', 'Stadiumi Qemal Stafa');
INSERT Stadium (StadiumID, Capacity, City, Clubs, Country, Name) VALUES (1, 12040, 'Durrës', 'Teuta', 'Albania', 'Stadiumi Niko Dovana');
INSERT Stadium (StadiumID, Capacity, City, Clubs, Country, Name) VALUES (2, 7500, 'Korçë', 'Skënderbeu', 'Albania', 'Stadiumi Skënderbeu');













