

CREATE TABLE Team_Level(
	LeaguID nvarchar(255) NULL,
	Rank float NULL,
	Season nvarchar(255) NULL,
	Team nvarchar(255) NULL,
	TEAMID nvarchar(255) NULL,
	Played float NULL,
	Win float NULL,
	Draw float NULL,
	Lost float NULL,
	als_Scored float NULL,
	als_Conceded float NULL,
	al_Difference float NULL,
	Points float NULL,
	F14 nvarchar(255) NULL,
	F15 nvarchar(255) NULL,
	F16 nvarchar(255) NULL,
	F17 nvarchar(255) NULL
) ;


INSERT Team_Level (LeaguID, Rank, Season, Team, TEAMID, Played, Win, Draw, Lost, als_Scored, als_Conceded, al_Difference, Points, F14, F15, F16, F17) VALUES ('EPL', 1, '2015-16', 'Leicester City', 'LE', 38, 23, 12, 3, 68, 36, 32, 81, NULL, NULL, NULL, NULL);
INSERT Team_Level (LeaguID, Rank, Season, Team, TEAMID, Played, Win, Draw, Lost, als_Scored, als_Conceded, al_Difference, Points, F14, F15, F16, F17) VALUES ('EPL', 2, '2015-16', 'Arsenal', 'AR', 38, 20, 11, 7, 65, 36, 29, 71, NULL, NULL, NULL, NULL);
INSERT Team_Level (LeaguID, Rank, Season, Team, TEAMID, Played, Win, Draw, Lost, als_Scored, als_Conceded, al_Difference, Points, F14, F15, F16, F17) VALUES ('EPL', 3, '2015-16', 'Tottenham Hotspur', 'TT', 38, 19, 13, 6, 69, 35, 34, 70, NULL, NULL, NULL, NULL);
